body 
{
	text-align: center; 
	font-family:verdana, tahoma, arial,"ו";
	margin:0 auto; 
	padding:0;  
	font-size:12px;
}
div,form,img,ul,ol,li,dl,dt,dd {border: 0;}
table,td,tr,th{font-size:12px;}

body 
{
	color: #222;   
	background-color: #eee;    
}
a:link,  a:visited,  a:active 
 {color: #22e; text-decoration:  none; }
a:hover {color: #e22; text-decoration: underline; }

#wrapper {
	margin:0 auto;
	text-align: center; 
	}
	
#container {
	margin-right: auto; 
	margin-left: auto;
	text-align: center; 
	}
	
h2.dotmark{
  display:inline;
  line-height:12px;
  font-size:12px;
  font-weight:normal;
  width:12px;
  height:11px;
  background: url('dot_blue.gif') left 1px no-repeat;
  padding:0px 3px 1px 15px;
}
#mainimage{
	padding:50px 0 0 0px;
	text-align: center; 
	}
#mainform{
	padding: 10px 0 0 0px;
	text-align: center; 
	}
#mainform form{
	padding:0;margin:0;
	}
#mainform  .p,
#mainform  .u{
  height:16px;
  width:100px;
  border-top:0px solid #222;
  border-bottom:1px solid #222;
  border-left:0px solid #222;
  border-right:0px solid #222;
  background-color:#eee;
  }
#mainform  .p{
	font-family:verdana, tahoma, arial;
	}
#mainform  .u {
	font-family:fixedsys,verdana, tahoma, arial;
	}
#mainform  label{
	cursor:pointer;
	}
#mainform  .r{
	cursor:pointer;
	}
	
#mainform  .b{
	cursor:pointer;
  height:22px;
  width:50px;
	}
#errorinfo{
  width:700px;
  margin-top:10px;
	margin-bottom:10px;
	padding:3px;
	margin-right: auto;
	margin-left: auto;
	border:2px solid #c80;
	background: #ff0;
	display:none;
}
#onlineinfo{
	padding: 10px 0 1px 0px;
	color:#2a2;
	text-align: center; 
	}
#maintip{
  width:700px;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto; 
	text-align: left; 
	}
#footer {
	padding: 12px 0 20px 0px;
	text-align: center; 
	}
	
#footer h1{
  display:inline;
  font-size:1px;
  }

#footer hr{
  height:1px;
  width:700px;
  color:#222;
  }

.cbox{
  width:700px;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto; 
	text-align: center; 
	}
